.Userinfo {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {
    display: flex;
    align-items: center;
    gap: 20px;

    .avatar {
      border-radius: 50%;
      object-fit: cover;
      width: 72px;
      height: 71px;
    }
  }
  .icons {
    display: flex;
    gap: 6px;
  }
  p {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* Icons Section Started */
.more {
  width: 20px;
  cursor: pointer;
}
.edit {
  width: 20px;
  cursor: pointer;
}
.video {
  width: 20px;
  cursor: pointer;
}

/* Icons Section Ended */
