.search {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  .searchbar {
    flex: 1;
    display: flex;
    background-color: rgba(17, 25, 40, 0.5);
    align-items: center;
    border-radius: 20px;
  }
  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    flex: 1;
    padding: 6px;
  }
}

.Chatlist {
  flex: 1;
  overflow-y: auto;

  background: rgba(255, 255, 255, 0.05); /* semi transparent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari support */
}
.Chatlist::-webkit-scrollbar {
  width: 4px;
}

.Chatlist::-webkit-scrollbar-track {
  background: transparent;
}

.Chatlist::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  border-radius: 10px;
}
/* USER ID LIST Start*/
.items {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #dddddd35;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
span {
  font-family: Arial, Helvetica, sans-serif;
}
.username {
  margin: 0;
  padding: 0;
}
.lastMsg {
  margin: 0;
}
/* USER ID LIST End*/
.searchIcon {
  width: 15px;
  padding: 5px;
  cursor: pointer;
}
.add {
  width: 20px;
  cursor: pointer;
}
.userList {
  width: 30px;
}
