.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.adduser {
  width: 220px;

  padding: 30px;
  border-radius: 12px;
  background: rgb(174, 139, 139);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.125);

  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  button {
    background: rgb(98, 204, 98);
  }
  .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
    }
  }
}
form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
input {
  border: none;
  outline: none;
  border-radius: 10px;
  flex: 1;
  padding: 7px;
}
