body {
  background-image: url(/public/bg-brave-3.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  width: 80vw;
  height: 100vh;

  border-radius: 12px;
  backdrop-filter: blur(8px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}
